/**  Jumbotron **/
.ins-main-slide {
  padding: 0;
}

.ins-desc {
 margin: 0;
}

.ins-caption {
  font-size: 1.6rem;
}

/** Testimonial **/
.instart-testimonial {
 margin: 0;
}

/** Info **/
.instart-info {
  margin: 0.5rem;
  padding: 1rem;
}

.site-logo {
  padding-left: 1em;
  padding-bottom: 2em;
}
