h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro' !important;
}
p, div {
    font-family: 'Source Sans Pro' !important;
    color:000054;
}

body {
  font-family: 'Source Sans Pro' !important;
}

/**  Jumbotron **/
.ins-special {
  font-size:1.5rem;
}

.ins-main-slide {
 background-color:#0099ff !important;
 color:white;
 margin-bottom:0;
 padding: 2.5rem;
}
.ins-desc {
  margin-right: 10em;
}

.ins-caption {
  font-size: 2.6rem;
}
.site-logo {  
  padding-left: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color:#0099ff !important;
}

.instart-stats, .instart-testimonial {
  margin: 2rem;;
}

/** Testinmonial Block **/

.ins-test-more {
  color:inherit;
  text-decoration: underline;
  text-decoration-color: red;
  font-weight:bold;
}

.ins-test-img {
 margin-right: 0.5rem;
 margin-bottom: 2rem;
}
.instart-info {
  margin: 5rem;
}
.ins-cust-testimonial {
  margin: 0 auto;
  padding: 2em;
}



/***Form**/
.ins-cta-form {
 background-color: white;
 color:#000054 !important;
 padding: 1em;
 border-top: 10px solid;
}

.ins-cta-form .btn-ins {
  background-color:#ff095f;
  color:#fff;
  border-color:#ff095f;
  font-weight:bold;
}

/** Logos **/
.customer-logos {
  margin-bottom: 2rem;
  padding:2rem;
}

.carousel-control-prev-icon {
  background-image:url('../files/img/prev.png')
}
.carousel-control-next-icon {
  background-image:url('../files/img/next.png')
}

/***Stats***/
.card-ins {
 background-color: inherit;;
 border:none;
}


/***Footer**/
footer {
  padding: 2em;
}
